.header {
  margin-top: 6rem;
  text-align: center;
}

.docs-section {
  padding: 2rem 0;
  border-top: 1px solid #eee;
}

.docs-header {
  font-size: 1.4rem;
  font-weight: 600;
}

.docs-example {}

.code-example {
  border: 1px solid #ccc;
}

pre,
.inline-code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-family: monospace, monospace;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}